RockSatParser/obj/Debug/
RockSatParser/bin/Debug/RockSatDataParser.zip
RockSatParser/App.config
RockSatParser/bin/Debug/RockSatParser.exe.config
RockSatParser/bin/Debug/
*.stackdump
RockSatParser/obj/
RockSatParser/bin/
