RockSatParser/obj/Debug/
RockSatParser/bin/Debug/RockSatDataParser.zip
RockSatParser/App.config
RockSatParser/RockSatParser.csproj
RockSatParser/bin/Debug/RockSatParser.exe.config
RockSatParser/bin/Debug/
